* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
}

.menu-part {
  flex: 20%;
  height: 100vh;
}
.data-part {
  flex: 80%;
  height: 100vh;
}

/* Menu Styles */
.menu-page {
  display: flex;
}
.menu-options-part {
  flex: 20%;
  height: 100vh;
  border-right: solid 2px gray;
}
.menu-collapsable-part {
  flex: 80%;
  height: 100vh;
  border-right: solid 2px gray;
}

/* Options Styles */
.options-page {
  text-align: center;
}
.options-list {
  margin: 1rem auto auto auto;
  cursor: pointer;
}

.chatgpt-icon {
  width: 3rem;
  margin: 1rem;
}

/* Data Styles */
.data-page {
  height: 100vh;
  background-color: whitesmoke;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%239C92AC' fill-opacity='0.2'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}


/* Bottombar Styles */
.bottombar{
  position: absolute;
  bottom: 0;
  /* height: fit-content; */
  z-index: 1;
}
.bottombar-parent{
  width: 100%;
  margin: auto;
}
.bottombar-container{
  display: flex;
  flex-direction: row;
  margin: 0;
}
.bottombar-list{
  list-style: none;
  font-size: 1rem;
  font-weight: 700;
  margin: auto 1.5rem auto auto;
  text-align: center;
}
.bottombar-icons{
  font-size: 30rem;
}

/* Collapsable Page */
.collapsable-page-heading{
  font-size: 1.3rem;
  font-weight: 600;
}
.collapsable-page-elemtree{
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}
.element-tree{
  width: fit-content;
  margin: 1rem auto auto auto;
}

